<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="greetings" class="com.abc.springdemo.Greetings">
		<constructor-arg name="msg" value="Hello spring" />
	</bean>

	<bean id="stu1" class="com.abc.springdemo.Student">
		<property name="studentId" value="1001"></property>
		<property name="studentName" value="Sameer"></property>
		<property name="skills">
			<list>
				<value>corejava</value>
				<value>sql</value>
				<value>jpa</value>
				<value>maven</value>
			</list>
		</property>
	</bean>

</beans>